.path {
    margin-top: 20px;
    cursor: pointer;
}
  
.path-segment {
    padding: 10px 15px;
    display: inline-block;
}

.keyword {
    margin-left: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: small;
}
  