.search-bar {
    display: grid;
    grid-template-columns: 200px auto 200px;
    align-items: center;
    margin: 0 30px;
    position: sticky;
    top: 0; 
    background-color: white;
}

.search-box {
    padding: 0 80px;
    white-space: nowrap;
    width: 100%;
}

.search-box input {
    border: solid 2px rgb(19 34 98)	;
    width: 80%;
    font-size: 2em;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
}
    
.clear {
    font-size: xx-large;
    margin-left: 10px;
    color: rgb(19 34 98);
    cursor: pointer;
}
