body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-screen {
    padding: 4px;
    background-image: linear-gradient(rgb(66 79 157), rgb(126 170 220));  
    margin-right: 10px;
    display: grid; 
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(8, 55px);
    gap: 6px;
}

.menu-screen-path {
    padding-top: 20px;
    text-align: center;
    white-space: nowrap;

    display: flex;
    justify-content: center;
}
  
.search-bar {
    display: grid;
    grid-template-columns: 200px auto 200px;
    align-items: center;
    margin: 0 30px;
    position: sticky;
    top: 0; 
    background-color: white;
}

.search-box {
    padding: 0 80px;
    white-space: nowrap;
    width: 100%;
}

.search-box input {
    border: solid 2px rgb(19 34 98)	;
    width: 80%;
    font-size: 2em;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
}
    
.clear {
    font-size: xx-large;
    margin-left: 10px;
    color: rgb(19 34 98);
    cursor: pointer;
}

.search-result {
    margin-top: 20px;
    cursor: pointer;
}
  
.path-segment {
    padding: 10px 15px;
    display: inline-block;
}

.keyword {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: small;
}
  
.search-results {
    margin: 0px auto;
    width: 400px;
    white-space: nowrap;
}

.single-search-result {
    margin: 0px auto;
    text-align: center;
    /* width: 400px; */
    white-space: nowrap;
}


@keyframes blinker {
    50% {
      background-color: white;
    }
}  

.menu-button {
    position: relative;
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid white;
    box-sizing: border-box;
    
    font-size: 9px;
    font-weight: bold;
    font-family: helvetica;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button.selected-true {
    animation: blinker 1s linear infinite !important;
}

.menu-button.span-1 {
    grid-column: span 1;
    grid-row: span 1;
}

.menu-button.span-2 {
    grid-column: span 2;
    grid-row: span 1;
}

.text-color-black {
    color: black;
}

.text-color-white {
    color: white;
}

.back-color-yellow {
    background-color: rgb(209 201 46);
}

.back-color-pink {
    background-color: rgb(191 111 208);
}

.back-color-red {
    background-color: rgb(144 48 32);
}

.back-color-green {
    background-color: rgb(94 169 35);
}

.back-color-purple {
    background-color: rgb(114 59 163);
}

.back-color-blue {
    background-color: rgb(44 101 158);
}

.back-color-money {
    background-color: rgb(17 7 186);
}

.back-color-orange {
    background-color: rgb(186	119	51	);
}

.back-color-white {
    background-color: rgb(237 229 217);
}

.back-color-gray {
    background-color: rgb(183 178 170);
}

.back-color-brown {
    background-color: rgb(152 119 54);
}
